@import url('../../../components/global/global.css');

.screen_list_container{
    background: #fff;
    border-radius: var(--radius);
    border: 1px solid var(--blueLight);
}

.screen_detail_container{
    background: #fff;
    transition: all 200ms;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: var(--radius);
}
.screen_detail_container:hover{
    background: var(--lowLight);
}
.screen_button_icon{
    color: var(--dimLight);
    transition: all 200ms;
    cursor: pointer;
    font-size: 12px;
    align-self: center;
}
.screen_button_icon:hover {
    color: var(--blue);
    transform: scale(1.2);
}
.screen_container > .choice_extra-small{
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0px 5px;
}
.screen_details_container {
    max-height: 310px;
    overflow: scroll;
}
.screen_details_container_single{
    border: 1px solid var(--blueLight);
    transition: all 200ms;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: var(--radius);
    overflow: hidden;
}
.screen_details_container_single:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
}
.details_conatiner{
    user-select: none;
    color: #000 !important;
    transition: all 200ms;
}
.details_conatiner > p {
    line-height: 15px !important;
}
.screen_name:hover {
    color: var(--blue) !important;
}
.small_button {
    padding: 5px 8px;
}
.flowTool_container {
    position: absolute;
    top: 0px;
    /* background: #fff; */
    /* padding: 10px; */
    padding-top: 5px;
    z-index: 999;
}
.icon {
    transition: all 200ms;
}
.icon_rotated{
    transform: rotateZ(180deg);
}
.placeholder_container {
    position: absolute;
    top: 20%;
    left: 25%;
    justify-content: center;
    align-items: center;
}
.placeholder_container_node{
    height: 340px;
    width: 250px;
    background: #fff;
    border-radius: var(--radius);
    position: absolute;
    left: 13%;
}