@import url('../../components/global/global.css');
.icon_platform {
  padding: 10px 15px;
  margin-right: 10px;
}
.custom_card {
  padding: 25px 20px;
  transition: all 200ms;
  user-select: none !important;
  background: var(--placeholderColor);
  border-radius: var(--radius);
  height: 100%;
  padding-right: 10px;
  padding-bottom: 0;
}
.custom_card .font_gradient {
    font-weight: 500 !important;
    line-height: 1.8rem !important;
    padding: 0;
}
.custom_card .dropdown .input{
    background: #fff;
}
.custom_card .dropdown_container .item:hover{
    background: var(--blue) !important;
}
.custom_card .font_pad {
    padding: 0px !important;
    font-weight: 700 !important;
}
.neg_margin {
    margin-top: -4px !important;
}
.custom .choice_extra-small{
    border: none;
}
.custom .custom_choice {
    padding: 3px 15px;
}
.custom .custom_platform{
    border: 1px solid var(--blueLight);
}