:root {
  --blue: #4a66ff;
  --blueSemiLight: #4a86ff;
  --blueLight: #4a65ff34;
  --lowLight: rgba(230, 230, 230, 0.539);
  --extraLight: rgba(230, 230, 230, 0.228);
  --darkLight: rgba(230, 230, 230, 0.386);
  --light: rgba(217, 217, 217, 0.722);
  --dimLight: rgba(128, 128, 128, 0.722);
  --placeholderColor: rgba(217, 217, 217, 0.281);
  --radius: 8px;
  --gradient: linear-gradient(
    120deg,
    rgba(24, 13, 217, 1) 0%,
    rgba(139, 0, 255, 1) 100%
  );
  --gradientNone: linear-gradient(120deg, #6565fe 0%, #6565fe 100%);
  --shadow: -1px 1px 17px -1px rgb(0 110 255 / 14%);
  --shadowDark: -1px 7px 17px -4px rgba(0, 110, 255, 0.127);
  --darkTheme: #0d1d36;
  --darkThemeLight: #2659ac;
  --darkBlue: #6565fe;
  --fontGradient: -webkit-linear-gradient(
    120deg,
    rgba(24, 13, 217, 1) 0%,
    rgba(139, 0, 255, 1) 100%
  );
  --error: #ff5447;
}
/*#region Menu, Site CSS */
table {
  border-radius: var(--radius) !important;
  transition: all 200ms;
  font-size: 0.875rem;
  text-align: start;
}
.table_container {
  max-height: 600px;
  min-height: 500px;
  overflow: scroll;
}
th {
  user-select: none;
  padding: 10px 15px;
  max-width: 240px;
}
td {
  padding: 10px 15px;
  max-width: 240px;
}
table,
tr {
  width: 100%;
  border-bottom: solid 1px var(--lowLight);
}
thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
}
.page_title {
  border-bottom: 1px solid var(--blueLight);
  padding-bottom: 10px;
  color: #425a92;
}
.table_row {
  transition: all 200ms;
  border-bottom: solid 1px var(--lowLight);
}
.table_row:hover {
  background: var(--lowLight);
}

.container {
  transition: all 200ms;
}
.link{
  cursor: pointer;
}
.scale{
  transition: all 200ms;
}
.scale:hover {
  transform: scale(1.04);
}
.modal_main {
  overflow: scroll;
}
.modal_container {
  background: #fff;
  border-radius: var(--radius);
  padding: 30px !important;
  max-height: 100%;
  overflow: scroll;
  transition: all 200ms;
  transform: translateX(100%);
  height: 100%;
}
.modal_container_visible {
  transform: translateX(0);
}
.modal_hidden {
  opacity: 0;
  /* transform: translate(100%, 0%); */
  position: absolute;
  z-index: -10 !important;
}
.modal_slider {
  padding: 0px;
  position: absolute !important;
  height: 100%;
  max-height: 100%;
  width: 100%;
  z-index: 99999;
  transition: all 200ms;
  right: 0;
}
.slider_container {
  padding: 0;
}

.dim_opacity {
  opacity: 0.4;
}

.company_logo_main {
  /* height: 35px;
  width: 35px; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55px;
  width: 100%;
  background-color: #173473;
  padding: 6px;
  margin-left: 20;
}
/*#endregion */

/*#region Typography CSS */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5rem !important;
}
a {
  text-decoration: none !important;
}
p {
  font-size: 0.875rem;
}
p,
strong,
i {
  text-align: left !important;
}
.left-align {
  text-align: left !important;
}
.large_3 {
  font-size: 4rem;
}
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
   * Generated by Animista on 2022-5-28 16:44:10
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation focus-in-expand
   * ----------------------------------------
   */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.title {
  font-weight: 500;
  /* position: absolute; */
  text-align: left;
  font-family: "Montserrat", sans-serif !important;
}
.theme_dark {
  color: rgb(55, 55, 55);
  background: transparent;
}
.bg_dim {
  background: var(--blueLight);
}
.theme_light {
  color: #fff;
  background: transparent;
}
.size_small {
  font-weight: 600;
}
.font_xs {
  font-size: 0.75rem;
}
.font_bold {
  font-weight: 600;
}
.font_light {
  font-weight: 200;
}
.font_theme_light {
  color: #fff;
}
.font_error {
  padding: 3px 10px;
  background: var(--error);
  color: #fff;
  border-radius: 3px;
  border-left: 5px solid #c40e00;
}
.font_theme_dark {
  color: var(--darkTheme) !important;
}
.font_no_margin {
  margin: 0;
}
.opacity_hidden {
  opacity: 0;
}
.margin_right {
  margin-right: 5px;
}
.font_link {
  color: var(--darkBlue);
  cursor: pointer;
}
.link_dashed {
  border-bottom: solid 1px var(--darkBlue);
  border-bottom-style: dashed;
}
.font_gradient {
  padding: 12px 0px 20px 0px;
  font-weight: 800 !important;
  font-family: "Poppins", sans-serif !important;
  /* background: var(--fontGradient) !important; */
  background: -webkit-linear-gradient(
    120deg,
    rgba(24, 13, 217, 1) 0%,
    rgba(139, 0, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hidden {
  display: none;
}
.no_margin {
  margin: 0 !important;
}
.margin_xs {
  margin-bottom: 5px;
}
.no_padding {
  padding: 0;
}
.padding_xs {
  padding: 5px !important;
}
.line_xs {
  line-height: 12px !important;
}
.line_s {
  line-height: 18px !important;
}
.line_m {
  line-height: 20px !important;
}
.padding_s {
  padding: 10px !important;
}
.lineHeight_xs {
  line-height: 16px !important;
}
.lineHeight_s {
  line-height: 20px !important;
}
.link {
  color: var(--darkBlue);
}
.right_border {
  border-right: solid 1px var(--blueLight);
  padding-right: 20px;
}
/*#endregion */

/*#region Spacing CSS */
.spacing_small {
  padding: 10px;
}
.spacing_medium {
  padding: 15px;
}
.spacing_large {
  padding: 25px;
}
.spacer_small {
  height: 10px;
  width: 10px;
}
.spacer_xs {
  height: 4px;
  width: 4px;
}
.spacer_medium {
  height: 20px;
  width: 20px;
}
.spacer_large {
  height: 35px;
  width: 35px;
}
/*#endregion */

/*#region Tooltip CSS */
.tool_tip {
  position: relative;
}

/* Tooltip text */
.tool_tip .tooltiptext {
  /* visibility: hidden; */
  opacity: 0;
  width: max-content;
  background-color: var(--blueSemiLight);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -36px;
  left: -45%;
  right: -45%;
  transition: all 200ms;
  transform: translateY(10px);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool_tip:hover .tooltiptext {
  opacity: 1;
  transform: translateY(0px);
}
/*#endregion */

/*#region Card CSS */
.card {
  padding: 25px 20px;
  cursor: pointer;
  transition: all 200ms;
  user-select: none !important;
  border: var(--blueLight) solid 1px;
  background: var(--darkBlue) !important;
  /* border-radius: 10px !important; */
}
.card:hover {
  border: var(--blue) solid 1px;
  background: var(--blueLight);
  /* color: #fff !important; */
}
.card:hover .card_option_bg {
  background: var(--darkTheme);
  color: #fff;
}
.card_animate_scale:hover {
  transform: scale(1.06);
}
.card_compact {
  padding: 8px 10px;
  padding-bottom: 0px !important;
  border: none !important;
}
.card_option_bg {
  background: #fff;
  max-width: max-content;
  padding: 2px 20px;
  border-radius: 30px;
  color: var(--blue);
  font-size: 0.75rem;
  transition: all 200ms !important;
}
.card_option_bg_small {
  font-size: 0.68rem;
  background: var(--blueLight);
  padding: 0px 10px;
}
.card_dark {
  background: var(--darkBlue) !important;
  color: #fff !important;
}
.team_overview {
  background: #fff;
  color: #fff;
  border-radius: var(--radius);
  /* max-width: max-content; */
  padding: 8px 15px;
  border: solid 1px transparent;
  transition: all 200ms;
}
.team_overview:hover {
  z-index: 99;
  transform: scale(1.1);
  color: var(--darkBlue) !important;
}
.team_overview_2 {
  transform: translateY(20px) translateX(-30px);
}
.team_overview_2:hover {
  transform: translateY(20px) translateX(-20px) scale(1.1) !important;
}
.team_overview_3 {
  transform: translateY(10px) translateX(30px);
}
.team_overview_3:hover {
  transform: translateY(10px) translateX(30px) scale(1.1) !important;
}
.team_overview_4 {
  transform: translateY(5px) translateX(40px);
}
.team_overview_4:hover {
  transform: translateY(5px) translateX(40px) scale(1.1) !important;
}

.card_light {
  background: #fff !important;
  color: var(--darkTheme) !important;
  border: 1px solid var(--blueLight) !important;
}
.card_light:hover {
  border: 1px solid var(--darkBlue) !important;
  color: var(--darkBlue) !important;
}
.card_dark .link {
  color: #fff;
}
.no_border {
  border: none !important;
}
.no_border:hover {
  border: none !important;
}
/*#endregion */

.shadow {
  -webkit-box-shadow: -1px 7px 17px -4px rgba(0, 110, 255, 0.127);
  box-shadow: -1px 7px 17px -4px rgba(0, 110, 255, 0.127);
}
.shadow_dark {
  -webkit-box-shadow: 3px 0px 15px 5px rgba(101, 101, 254, 0.54);
  box-shadow: 3px 0px 15px 5px rgba(101, 101, 254, 0.54);
}
.shadow_light {
  -webkit-box-shadow: 3px 0px 15px 5px rgba(101, 101, 254, 0.1);
  box-shadow: 3px 0px 15px 5px rgba(101, 101, 254, 0.1);
}
.shadow_light_black {
  -webkit-box-shadow: 3px 0px 15px 5px rgba(101, 101, 254, 0.192);
  box-shadow: 3px 0px 15px 5px rgba(101, 101, 254, 0.192);
}

/*#region Button CSS */
.button_light {
  border: solid 1px var(--blueLight);
  font-size: 0.875rem;
  padding: 8px 20px;
  background: var(--lowLight);
  cursor: pointer;
  transition: all 200ms;
  font-weight: 600;
  border-radius: var(--radius);
  user-select: none !important;
  min-width: max-content;
  justify-content: center;
  text-align: center;
}
.button_light_extended {
  font-size: 0.756rem !important;
}
.button_light:hover {
  /* border: 0 solid; */
  background: var(--blueLight);
  color: #000;
}
.button_rounded {
  border-radius: 30px !important;
}
.button_dark {
  background: var(--darkBlue) !important;
  color: #fff !important;
}
.button_dark:hover {
  background: var(--blueSemiLight) !important;
  color: #fff;
}
.button_size_small {
  min-width: 80px;
}
.disabled {
  opacity: 0.8;
  pointer-events: none;
}
.icon_animated:hover .icon_hidden {
  transform: translateX(0%);
  opacity: 1;
  position: relative;
}
.icon_animated:hover .text_icon_animated {
  transform: translateX(0%);
}
.button_text {
  transition: all 200ms;
}
.button_underline{
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-bottom-color: #fff;
}
.icon_hidden {
  opacity: 0;
  transform: translateX(50%);
  transition: all 200ms;
}
.text_icon_animated {
  transform: translateX(10px);
}
/* .scale_animated {
    
  } */
.scale_animated:hover {
  transform: scale(1.1);
  box-shadow: var(--shadowDark);
  background: var(--blue) !important;
}
/*#endregion */

.spinner_small {
  height: 20px !important;
  width: 20px !important;
  border-width: 2px !important;
}

/*#region Global Components */
.input {
  padding: 6px 8px;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: all 200ms;
  border: 0.5px solid var(--blueLight);
  font-size: 13px;
}
.input input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
}
.input_focused {
  border: 0.5px solid var(--blueSemiLight);
  color: var(--blue);
}
.input_error {
  border: 0.5px solid orangered !important;
}

.icon_regular {
  /* padding: 15px; */
  /* border-radius: 8px; */
  /* background-color: var(--darkLight); */
}
.icon_dark {
  /* background-color: var(--blueLight); */
}
.icon_small {
  padding: 7px;
}

/*#endregion */

/*#region Choice CSS */
.choice_extra-small {
  border: 2px solid var(--darkBlue);
  background: #fff;
  border-radius: 30px;
  color: var(--blue);
  transition: all 200ms;
  max-width: max-content;
  padding: 0px 10px;
  cursor: pointer;
  max-height: fit-content;
  user-select: none;
  margin-right: 10px;
  margin-bottom: 10px;
} /* .choice_extra-small > p {
  font-size: 0.8rem;
} */
.choice_extra-small:hover {
  background: var(--darkBlue);
  color: #fff;
}
.choice_selected {
  background: var(--blue);
  color: #fff;
}
.choice_extra-small_container {
  flex-wrap: wrap;
}
/*#endregion*/

.infobox_parent {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.infobox_container {
  padding: 10px 20px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  max-width: max-content;
  flex-wrap: wrap;
  margin-top: 20px;
  user-select: none;
  transition: all 200ms;
  opacity: 1;
}

.infobox_success {
  background: linear-gradient(
    60deg,
    rgba(26, 28, 43, 1) 0%,
    rgba(40, 67, 187, 1) 100%
  );
}

.infobox_error,
.infobox_fail {
  background: linear-gradient(
    60deg,
    rgba(26, 28, 43, 1) 0%,
    rgba(187, 40, 40, 1) 100%
  );
}

.infobox_hidden {
  transform: translateX(110%);
  opacity: 0;
}
